body {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0 5% 0 5%;
}

main:after {
  content:"";
  display: table;
  clear: both;
}

header {
    height: 100px;
    background-image: url("../img/details-hero.jpg");
    color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.icone-header {
  float: right;
  margin-top: 0;
}

.total {
  float: sticky;
  margin-left: 65%;
  margin-right: 3%;
  margin-top: -8em;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(86, 178, 0);
  padding: 5px;
  border-radius: 10px;
}

.styled {
  box-shadow:
              inset 2px 2px 10px rgba(255, 255, 255, .6),
              inset -2px -2px 10px rgba(0, 0, 0, .6);
}

.styled:active{
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .6),
  inset -2px -2px 10px rgba(86, 178, 0, .6),
  rgba(86, 178, 0, 0.4) 5px 5px, 
  rgba(86, 178, 0, 0.3) 10px 10px, 
  rgba(86, 178, 0, 0.2) 15px 15px, 
  rgba(86, 178, 0, 0.1) 20px 20px, 
  rgba(86, 178, 0, 0.05) 25px 25px;

}

#total {
  color: white;
  text-align: center;
  font-size: 200%;
}

.total h2{
  color: white;
  font-size: 200%;
  text-align: left;
}

header .fa-solid{
  color: white;
  font-size: 36px;
  position: relative;
  top: -44px; right: 10px;
}

h1 {
  margin: 0;
  padding : 30px;
  text-align: center;
}

.gauche {
  margin-top: 1em;
	width: 50%;
	height: 100%;
	float: left;
}

.droite {
  margin-right: 5%;
  margin-top: 1em;
	width: 30%;
	height: 100%;
	float: right;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-gap: 10px;
  margin-bottom: 50px;
  margin-left: 40%;
  margin-top: 10%;
}

.description-produit {
margin-top: 50px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 90px 90px;
  margin-top: 10%;
}

p {
  color: rgb(86, 178, 0);
  font-weight: bolder;
} 

.wrapper2 p{
  text-align: center;
  margin-left: 50%;
  font-weight: bolder;
}

.prix {
  grid-column: span 2;
}

.panier {
  color: rgb(86, 178, 0);
  text-align: left;
  margin-left: 5%;
  font-size: 300%;
}

footer {
  background-color: rgb(86, 178, 0);
  color: white;
  font-size: 100%;
  text-align: center;
  height: 100px;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}

footer p {
  color: white;
  font-weight: 100;
}

.fa-solid{
  color: rgb(86, 178, 0);
  font-size: 36px;
  position: relative;
  top: 10px;
  right: -75px;
}

main .fa-solid:hover{
  font-size:44px;
  transition:0.1s;
}

.banane, .orange, .pomme, .raisin { 
  width: 190px;
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  background-size: cover;
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, .6),
  inset -2px -2px 10px rgba(0, 0, 0, .6);
}


.banane:hover, .orange:hover, .pomme:hover, .raisin:hover{
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, .6),
  inset -2px -2px 10px rgba(86, 178, 0, .6),
  rgba(86, 178, 0, 0.4) 5px 5px, 
  rgba(86, 178, 0, 0.3) 10px 10px, 
  rgba(86, 178, 0, 0.2) 15px 15px, 
  rgba(86, 178, 0, 0.1) 20px 20px, 
  rgba(86, 178, 0, 0.05) 25px 25px;
}

.banane {
  background-image: url("../img/banane.jpg");
}

.pomme { 
  background-image: url("../img/pomme.jpg");
}

.orange { 
  background-image: url("../img/orange.jpg");
}

.raisin { 
  background-image: url("../img/raisin.jpg");
}

#nope {
  display: none;
}

.nope {
  display: none;
}

#alert {

  color: rgb(49, 5, 5);
  background-color: rgba(255, 30, 0, 0.342);
  border-radius: 10px 10px 10px 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 29%;
  margin-right: 29%;
  padding: 5px;
  text-align: center;
}